.dark{
    background-color: #0b1838;
}

.little_dark{
    background-color: #376ba7;
}

.Normal{
    background-color: #87b5d7;
}

.light{
    background-color: #dce5ed;
}

.background{
    background-color: #fffdf9;
}